extends layout

block content
	h4 Connected Earth Sciences strives to provide high quality, near real time data of our environment
	h4 Follow us on twitter 
		a(href="http://twitter.com/connectedEAS") @ConnectedEAS